<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angular</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="index.js"></script>
</head>
<body ng-controller="MessageController">
	<input type="text" ng-model="search"/> 
	<p>Filtered results:</p>
	<ul>
		<li ng-repeat="item in testArr | orderBy: item | filter: search | limitTo: 2">{{item}}</li>
	</ul>
	<div>
		<p>{{message}}</p>
	</div>
</body>
</html>